<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programadores</title>
    <link rel="stylesheet" href="/css/stylesProgramadores.css">
    <a href="/admin">Volver</a>
</head>
<body>
<h1>Programadores</h1>

    <ul class="programadores-list">
        <li class="programador">
    <img class="avatar" src="/images/imagesProgamadores/ima1.jpg" alt="Nombre del Programador">
    <p>Estiven Ospina</p>
        </li>
        <li class="programador">

    <img class="avatar" src="/images/imagesProgamadores/ima2.jpg" alt="Nombre del Programador">
    <p>Mariana aldana</p>
        </li>
        <li class="programador">
    <img class="avatar" src="/images/imagesProgamadores/ima3.jpg" alt="Nombre del Programador">
    <p>Michell gallego</p>
        </li>
    </ul>
</body>
</html>
